# 기말고사 예상문제 (ver 0.1)
> 

- toc:true
- branch: master
- badges: true
- comments: true
- author: 최규빈

## 1. COVID19 시도별 접종률 시각화

아래의 표는 COVID19 예방접종의 시도별 현황을 기록한 것이다. 

<img src = 'final_FIG1.png'>

이 정보는 특정 주기로 업데이트 되며 아래의 웹페이지 2번째 테이블에서 확인할 수 있다. 
```
https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000
```
판다스의 `pd.read_html()` 함수를 이용해 위의 페이지에서 그림1의 테이블을 읽어오라. 그리고 folium의 choroplethmap을 활용하여 시도별 2차접종의 접종률을 시각화 하라. 시각화 예시는 아래와 같다.

<img src = 'final_FIG2.png'>

---

**힌트1.** pd.read_html()을 이용할때 `encoding='uft-8'`옵션을 사용하라. 

**힌트2.** `https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000`의 2번째 테이블을 판다스로 읽어온 결과는 아래와 같아야 한다.

In [22]:
#hide
dfhtml='<table border="1" class="dataframe">\n  <thead>\n    <tr>\n      <th></th>\n      <th>구분</th>\n      <th colspan="2" halign="left">1차접종</th>\n      <th colspan="2" halign="left">2차접종</th>\n      <th colspan="2" halign="left">3차(부스터)접종</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th>구분</th>\n      <th>당일 실적</th>\n      <th>당일 누계</th>\n      <th>당일 실적</th>\n      <th>당일 누계</th>\n      <th>당일 실적</th>\n      <th>당일 누계</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>합계</td>\n      <td>22505</td>\n      <td>42618296</td>\n      <td>60388</td>\n      <td>41192348</td>\n      <td>179831</td>\n      <td>3570414</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>서울</td>\n      <td>3613</td>\n      <td>7933770</td>\n      <td>8315</td>\n      <td>7698119</td>\n      <td>34397</td>\n      <td>649999</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>부산</td>\n      <td>1355</td>\n      <td>2724073</td>\n      <td>2942</td>\n      <td>2631501</td>\n      <td>11161</td>\n      <td>209295</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>대구</td>\n      <td>925</td>\n      <td>1895746</td>\n      <td>2485</td>\n      <td>1830009</td>\n      <td>7258</td>\n      <td>130330</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>인천</td>\n      <td>1331</td>\n      <td>2430994</td>\n      <td>3781</td>\n      <td>2346905</td>\n      <td>9049</td>\n      <td>183461</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>광주</td>\n      <td>669</td>\n      <td>1190287</td>\n      <td>2190</td>\n      <td>1143284</td>\n      <td>4852</td>\n      <td>108004</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>대전</td>\n      <td>659</td>\n      <td>1173714</td>\n      <td>1692</td>\n      <td>1132714</td>\n      <td>5326</td>\n      <td>92697</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>울산</td>\n      <td>527</td>\n      <td>908812</td>\n      <td>1657</td>\n      <td>879965</td>\n      <td>3311</td>\n      <td>59007</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>세종</td>\n      <td>146</td>\n      <td>272339</td>\n      <td>357</td>\n      <td>261860</td>\n      <td>989</td>\n      <td>22115</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>경기</td>\n      <td>6180</td>\n      <td>11154058</td>\n      <td>16579</td>\n      <td>10788551</td>\n      <td>39809</td>\n      <td>876808</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>강원</td>\n      <td>718</td>\n      <td>1279589</td>\n      <td>2076</td>\n      <td>1237178</td>\n      <td>6373</td>\n      <td>118575</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>충북</td>\n      <td>668</td>\n      <td>1352302</td>\n      <td>2529</td>\n      <td>1307212</td>\n      <td>6536</td>\n      <td>124993</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>충남</td>\n      <td>952</td>\n      <td>1789964</td>\n      <td>2610</td>\n      <td>1725422</td>\n      <td>8595</td>\n      <td>170692</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>전북</td>\n      <td>755</td>\n      <td>1514759</td>\n      <td>2705</td>\n      <td>1460057</td>\n      <td>9037</td>\n      <td>160277</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>전남</td>\n      <td>792</td>\n      <td>1575741</td>\n      <td>2498</td>\n      <td>1520694</td>\n      <td>9319</td>\n      <td>199860</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>경북</td>\n      <td>1255</td>\n      <td>2160015</td>\n      <td>2942</td>\n      <td>2085263</td>\n      <td>9743</td>\n      <td>193965</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>경남</td>\n      <td>1510</td>\n      <td>2712518</td>\n      <td>3997</td>\n      <td>2614451</td>\n      <td>11699</td>\n      <td>226671</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>제주</td>\n      <td>450</td>\n      <td>549615</td>\n      <td>1033</td>\n      <td>529163</td>\n      <td>2377</td>\n      <td>43665</td>\n    </tr>\n  </tbody>\n</table>'
IPython.display.HTML(dfhtml)

- 위의 df는 예시일 뿐이며 시간에 따라 정보가 업데이트 되어 달라질 수 있음

**힌트3.** 아래의 주소에서 json을 파일을 읽어온뒤 choroplethmap을 그릴때 이용하라. 
```
https://raw.githubusercontent.com/southkorea/southkorea-maps/master/kostat/2018/json/skorea-provinces-2018-geo.json
```

**힌트4.** 아래의 코드를 활용하여 json파일의 지역명과 `https://ncv.kdca.go.kr/mainStatus.es?mid=a11702000000`의 지역이름을 맞추어라. 
```python
[global_dict['features'][i]['properties']['name'] for i in range(17)]
```
```
['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']
```

여기에서 `global_dict`는 json파일을 dict의 형태로 저장한 변수명이다.

**힌트5.** 지역별 접종률은 아래의 수식을 따른다. 

$$
\textbf{서울특별시 2차접종 접종률}=\frac{\textbf{서울특별시 2차접종 당일누계}}{\textbf{서울특별시 인구수}}
$$

시도별 인구수는 아래의 주소에서 얻을 수 있다. 
```
https://raw.githubusercontent.com/guebin/2021DV/master/_notebooks/2021-11-22-prov.csv
```
***강의노트 참고해보세요!!***

**힌트6.** 시도별 접종률의 결과는 아래와 같다.

In [56]:
#hide
IPython.display.HTML('<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>prov</th>\n      <th>prop</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>서울특별시</td>\n      <td>0.807572</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>부산광역시</td>\n      <td>0.784046</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>대구광역시</td>\n      <td>0.765463</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>인천광역시</td>\n      <td>0.796909</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>광주광역시</td>\n      <td>0.792597</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>대전광역시</td>\n      <td>0.778911</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>울산광역시</td>\n      <td>0.783887</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>세종특별자치시</td>\n      <td>0.711043</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>경기도</td>\n      <td>0.796228</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>강원도</td>\n      <td>0.804555</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>충청북도</td>\n      <td>0.818569</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>충청남도</td>\n      <td>0.814271</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>전라북도</td>\n      <td>0.815779</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>전라남도</td>\n      <td>0.828873</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>경상북도</td>\n      <td>0.793502</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>경상남도</td>\n      <td>0.787922</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>제주특별자치도</td>\n      <td>0.782127</td>\n    </tr>\n  </tbody>\n</table>')