In [5]:
import pandas as pd

In [7]:
pd.read_csv("mid.csv")

    mid
0   190
1   150
2   150
3   140
4   130
5   130
6   120
7   100
8   100
9    90
10   80
11   80
12   75
13   70
14   70
15   70
16   70
17    0